/* header.css */

header {
  background-color: #414142;
  color: #fff;
  padding: 10px;
  display: flex; /* Utilisation de Flexbox */
  align-items: center; /* Aligner les éléments verticalement au centre */
  justify-content: space-between; /* Éloigner les éléments */
}

header img {
  width: 100px; /* Ajustez la taille de votre logo selon vos besoins */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Utilisation de Flexbox */
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #f0f0f0;
}
