/* contact.css */

.contact-section {
  padding: 50px;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contact-section form {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-gap: 20px;
}

.contact-section label {
  font-size: 1.1rem;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.contact-section button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.contact-section button:hover {
  background-color: #0056b3;
}
