/* Dans votre fichier CSS principal */
.app-container {
  min-height: 100vh; /* Pour couvrir la hauteur de l'écran */
  padding-bottom: 100px; /* Hauteur du footer */
  position: relative; /* Pour que le padding-bottom fonctionne correctement */
}
